@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141517;
  color: #e2e8f0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
